---
import MainLayout from "../layouts/Layout.astro";
---

<MainLayout title="Primal Culture Tattoo Studio - Get to know us">
  <div class="container">
    <div class="block-container primal-bg">
      <div class="column-content">
        <div class="left">
          <h1>ABOUT US</h1>
          <p>
            Situated in the rugged up market tranquil suburb of Diep River with a bodacious sensory overload to peak one's consciousness. The location is bright, flavourful, harmonic and fresh
            surroundings which makes it tangible to the soul therefore we have moved close to the 3 Arts Village Mall (spoiler alert no paintings or sculptures on display). <br /> Our birds on the premises
            tweets in English (yet 10 minutes from our location the local birds “kwaat” in another language). <br /> For your safety and ours Diep River Police Station is 2 minutes away.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="button-container">
      <a href="https://www.instagram.com/primal_cultures/" target="_blank" class="red-button" aria-hidden="false">BUTTON</a>
    </div> -->
  <div class="container second-bg">
    <div class="column border-right-second">
      <div class="tattoo-container">
        <img src="https://fakeimg.pl/460x460/cccccc/909090" alt="Placeholder image 2" />
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <div class="left">
          <br />
          <h2>IS IT GOING TO HURT?</h2>
          <p>
            The atmosphere in the studio is what we want with an eclectic range of treffers. <br />
            From the soft soothing “binne boud” jams to the hard biting the head off an innocent locust tunes with occasional seasonal dependant jams from Boney M during Christmas, Jaloos Bokkie on National
            Braai Day to even that elusive Kat Stevens jams on those two special days in the year 😉, to also catering to our own local African treffers. <br /><br />In the evening there is a soothing
            atmospheric neon illumination which gives the studio an Amsterdam like nostalgia bringing a fuzzy feeling to oneself.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="column border-right-second">
      <div class="column-content">
        <div class="left">
          <h2>Q: WHY DOES MY TATTOO BLEED?</h2>
          <h3>A:That's what happens when a needle goes into your skin.</h3>
          <p>
            Out staff are locally breed with imported seed, native to the indigenous Khoi San soil blown from the winds of the Cape of Storms. Once voted the no.! most popular place to visit in 1652
            by Jan Van Riebeeck ( VOC), and they are well - travelled individuals ( Home to work and back again mostly) We once formed a vigilante super hero group called “ The Wordsmiths” but
            disbanded at the end of the month. None of “The Wordsmiths” were billionaires (who could afford fancy gadgets) or orphans or any sort of super power but was rumoured to be able to stop a
            bullet at least once. Medication dependant, at the right dose, between naps, we will give you service of value. We were once rated ourselves 4.6 stars (we think we over rated!). With
            highly equipped standard occasionally fully functional upgraded Windows 8 software programmed computer system with a very low speeded internet connection and refurbished dot Matrix
            printer. We can almost find any picture you found. Customer satisfaction is occasionally guaranteed so if the artists connects with you he/she will answer all questions in interpretive
            dance. We also always almost have a lifeguard on duty so the chances of you drowning while getting tattooed is "very slim"
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="tattoo-container">
        <img src="https://fakeimg.pl/460x600/cccccc/909090" alt="Placeholder image 1" />
      </div>
    </div>
  </div>
  <div class="container second-bg">
    <div class="column border-right-second">
      <div class="tattoo-container">
        <img src="https://fakeimg.pl/320x320/cccccc/909090" alt="Placeholder image 2" />
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <div class="left">
          <h2>KENNETJIE IS A REAL SPORT</h2>
          <p>
            And our equipment is also 100% real. We are registered and purchase from Local Accredited, Certified Suppliers who “says” they get their stuff from overseas, so we good :D. All needles are
            new and single use, inks decanted and disposed after every tattoo. Other Tattoo equipment are cold liquid sterilised and in-house autoclaved using Our Medical Grade Autoclave. All products
            are gluten free with little to no count of lactose. Q: HOW MUCH IS A MEDIUM SIZE TATTOO, NOT TOO BIG? A: HOW BIG IS NOT BIG
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="column border-right-second">
      <div class="column-content">
        <div class="left">
          <h2>KENNETJIE IS A REAL SPORT</h2>
          <p>
            And our equipment is also 100% real. We are registered and purchase from Local Accredited, Certified Suppliers who “says” they get their stuff from overseas, so we good :D. All needles are
            new and single use, inks decanted and disposed after every tattoo. Other Tattoo equipment are cold liquid sterilised and in-house autoclaved using Our Medical Grade Autoclave. All products
            are gluten free with little to no count of lactose. <br />
            <strong>Q: HOW MUCH IS A MEDIUM SIZE TATTOO, NOT TOO BIG? <br />A: HOW BIG IS NOT BIG</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="tattoo-container">
        <h3>If you like my content and my humour and would like to follow me?</h3>
        <br />
        <!-- <img src="/src/images/videos/ThisIsMyBack-ezgif.com-optimize.gif" alt="" /> -->
        <video src="/src/images/videos/ThisIsMyBack2.mp4" loop autoplay width="100%"></video><br />
        This is a picture of my back
      </div>
    </div>
  </div>
  <div class="container second-bg">
    <div class="column border-right-second">
      <div class="tattoo-container">
        <img src="/src/images/PrimalCulturelogowhitefull.png" alt="Placeholder image 2" />
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <div class="left">
          <h2>BUT SERIOUSLY</h2>
          <p>
            Primal Culture Tattoo Studio was established in 2007 by Clinton Naidoo who has been in the industry since the early 2000's who trained under various artist and studios, after 8 successful
            years from Wynberg Cape Town, he relocated to Plumstead for 4 years then in 2021 to his forever studio in Diep River, the staff creates a friendly environment with comfort and hospitality
            our first priority. <br /><br />
            The clients design and our influences our main objective to achieve the most desirable results and the ability to adapt designs and vision together.<br />
            We offer a transparent studio for comfort as well as a private booth for discretion.<br />
            Pathogen controlled trained and uses a certified medical waste disposable company for all tattoo consumable waste and sharps according to strict localn government legislation.<br /><br />
            All tattoo equipment are cold sterilised and autoclaved sterilised.<br />
            Single use needles and inks are disposed of responsibly.<br />
            Western Cape Government Environmental Affairs and development Planning certified.
          </p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
