---
import MainLayout from "../layouts/Layout.astro";
---

<MainLayout title="Primal Culture Tattoo Studio - Get to know us">
  <div class="container">
    <div class="column border-right-second">
      <div class="column-content">
        <div class="left">
          <h1>ABOUT US</h1>
          <p>
            Situated in the rugged up market leafy suburb of Plumstead (next to an accredited medical practitioner for “sick notes”), surrounded by upscale pubs and restaurants (which is a definite
            leading cause to high blood / low blood pressure, diabetes, gout, sleepiness, insomnia etc., according to any spouse).
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="tattoo-container">
        <img src="https://fakeimg.pl/600x460/cccccc/909090" alt="Placeholder image 1" />
      </div>
    </div>
  </div>
  <!-- <div class="button-container">
      <a href="https://www.instagram.com/primal_cultures/" target="_blank" class="red-button" aria-hidden="false">BUTTON</a>
    </div> -->
  <div class="container second-bg">
    <div class="column border-right-second">
      <div class="tattoo-container">
        <img src="https://fakeimg.pl/460x460/cccccc/909090" alt="Placeholder image 2" />
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <div class="left">
          <h2>IS IT GOING TO HURT?</h2>
          <p>
            The atmosphere in the studio is what we want with an eclectic range of treffers, known as the “HOME OF YAADT” (with copies from an array of dee-jays and wanna be dee-jays), often wishing
            to be "two places at the same time", as one of our staff was the original guy to take the broom and sweep the yard. From the soft soothing “binne boud” jams to the hard biting the head off
            an innocent locust tunes with the occasional seasonal dependent jams from Boney M during Christmas, Jaloos Bokkie on National Braai Day to even that elusive Kat Stevens jams on those two
            special days in the year ;), to also catering to our own local African treffers. In the evening there is a soothing atmospheric neon illumination which gives the studio an Amsterdam like
            nostalgia bringing a “fuzzy” feeling to oneself.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="column border-right-second">
      <div class="column-content">
        <div class="left">
          <h1>Q: WHY DOES MY TATTOO BLEED?</h1>
          <p>
            A:That's what happens when a needle goes into your skin. Our Staff are locally bred with imported seed, native to the indigenous Khoisan soil blown from the winds of the Cape of Storms,
            once voted the no.1 most popular place to visit in 1652 by Jan van Riebeek (V.O.C) , and they are well-travelled individuals (Home to work and back again mostly). We once formed a
            vigilante superhero group called ‘The Pretenders’ but disbanded at the end of the game. None of ‘The Pretenders’ were billionaires (who could afford fancy gadgets) or orphans or had any
            sort of super power but was rumoured to be able to stop a bullet at least once. Medication dependent, at the right dose, between naps, we will give you service of value. We once rated
            ourselves 4.8 stars (we think we overrated! ). Armed with a highly equipped standard occasionally fully functional upgraded Windows 8 software programmed computer system with a very low
            speeded internet connection and refurbished dot matrix printer we can almost find any picture you found. With customer satisfaction is occasionally guaranteed: So if beards offend you,
            we’ll make the bastard (Artist) shave :D (Labour laws pending) If the artist likes you he/she will answer all questions in interpretive dance. We also always almost have a lifeguard on
            duty so the chances of you drowning while getting tattooed is “very slim”.
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="tattoo-container">
        <img src="https://fakeimg.pl/460x600/cccccc/909090" alt="Placeholder image 1" />
      </div>
    </div>
  </div>
  <div class="container second-bg">
    <div class="column border-right-second">
      <div class="tattoo-container">
        <img src="https://fakeimg.pl/320x320/cccccc/909090" alt="Placeholder image 2" />
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <div class="left">
          <h2>KENNETJIE IS A REAL SPORT</h2>
          <p>
            And our equipment is also 100% real. We are registered and purchase from Local Accredited, Certified Suppliers who “says” they get their stuff from overseas, so we good :D. All needles are
            new and single use, inks decanted and disposed after every tattoo. Other Tattoo equipment are cold liquid sterilised and in-house autoclaved using Our Medical Grade Autoclave. All products
            are gluten free with little to no count of lactose. Q: HOW MUCH IS A MEDIUM SIZE TATTOO, NOT TOO BIG? A: HOW BIG IS NOT BIG
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="column border-right-second">
      <div class="column-content">
        <div class="left">
          <h2>BUT SERIOUSLY</h2>
          <p>
            Primal Culture established in 2007 by Clinton Naidoo who has been in the industry since the early 2000s who trained under various artists and studios, after 8 successful years from
            Wynberg, Cape Town the studio relocated to the suburb Plumstead, Cape Town 2017, the staff creates a family friendly environment with client comfort and hospitality our first priority. The
            clients design and our influence is our main objective to achieve the most desirable results and the ability to adapt designs and a vision together. We offer a transparent studio for
            comfort as well as a private booth for discretion. pathogen controlled trained and uses a certified medical waste disposable company for all tattoo consumable waste an sharps according to
            strict local government legislation. All tattooing equipment cold sterilised and autoclaved sterilised. Single use needles and inks and disposed of responsibly. Western Cape Government
            Environmental Affairs and Development Planning certified.
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="tattoo-container">
        <img src="/src/images/PrimalCulturelogowhitefull.png" alt="Placeholder image 2" class="" />
      </div>
    </div>
  </div>
</MainLayout>
