---
import MainLayout from "../layouts/Layout.astro";
import "../css/styles.css";
---

<MainLayout title="Primal Culture Tattoo Studio - Community Outreach">
  <div class="container">
    <div class="column">
      <div class="column-content left">
        <h1>Community Outreach</h1>
        <div>
          <p class="left"><h3>CHOC</h3>JUNE 2014 collective tattoo studios across South African</p>
        </div>
        <div>
          <p><h3>RESCUE IS THE NEW BLACK</h3> - DEC 2018</p>
        </div>
        <div>
          <p>
            <h3>SPCA TATS 4 TAILS</h3>
            2019<br />
            2020<br />
            2022<br />
            2023<br />
            20242019
          </p>
        </div>
        <div>
          <div>
            <p><h3>Glenbridge Resource Centre</h3> 2023 2024</p>
          </div>
          <div>
            <p><h3>Suicide Prevention</h3> 2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
