---
import MainLayout from "../layouts/Layout.astro";
import "../css/styles.css";
---

<MainLayout title="Primal Culture Tattoo Studio - Get hold of us">
  <div class="container">
    <div class="column2">
      <div class="column-content">
        <div class="left">
          <h1>Get a hold of us</h1>
          <p>
            Situated in the rugged up market leafy suburb of Plumstead (next to an accredited medical practitioner for “sick notes”), surrounded by upscale pubs and restaurants( which is a definite
            leading cause to high blood / low blood pressure, diabetes, gout, sleepiness, insomnia etc, according to any spouse) <br /><br />
          </p>
        </div>
        <div class="contact-container">
          <div class="contact-column left">
            <h3 class="left">Diep River</h3>
            Clarewood, <br />
            1 Annandale Road, <br />Diep River, Cape Town, 7800
          </div>
          <div class="contact-column left">
            <a href="tel:+27217071299" class="white-link"><i class="fa fa-phone"></i> +27 21 707 1299</a>
            <br />
            <a href="mailto:info@primalculture.co.za" class="white-link"><i class="fa fa-envelope"></i> info@primalculture.co.za</a>
            <br />
            <a href="https://api.whatsapp.com/send?phone=27217071299&text=Hello%20Primal%20Culture%20Tattoo%20Studio" class="white-link" target="_blank"
              ><i class="fa fa-brands fa-whatsapp"></i> WhatsApp us now</a
            >
          </div>
          <div class="contact-column left">Tuesdays - Saturdays 10h00 - 17h00</div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
