---
import MainLayout from "../layouts/Layout.astro";
---

<MainLayout title="Primal Culture Tattoo Studio">
  <div class="container">
    <div class="column border-right">
      <div class="column-content">
        <img src="/src/images/PrimalTattoCulture_red.png" alt="Primal Culture Tattoo Studio Since 2007" class="sixty" />
        <h2>We use 100% safe technology to create stunning artworks. We use certified equipment, which guarantees the best possible results.</h2>
        <div class="social-icons">
          <a href="https://www.facebook.com/PrimalCultureTattoo/" aria-label="Facebook Primal Culture" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.tiktok.com/@primal_culture" aria-label="TikTok Primal Culture" target="_blank"><i class="fab fa-tiktok"></i></a>
          <a href="https://www.instagram.com/primal_culture/" aria-label="Instagram Primal Culture" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <img src="/src/images/HeadTattooTikTok.png" alt="Primal Culture Tjappies" class="one100Image" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="column border-right-second">
      <div class="tattoo-container">
        <div class="image-container">
          <img src="/src/images/tattooing.png" alt="Tattooing" />
          <h2>Tattooing</h2>
          <p>AS SEEN ON TV! (Watch any program, it's the same).</p>
        </div>
        <div class="image-container">
          <img src="/src/images/tattoo_coverup.png" alt="Tattoo cover up" />
          <h2>Tattoo Cover UP</h2>
          <p>We cover up your “drunken” mistake, if we cannot we professionally suggest plasters, bandages or permanent markers.</p>
        </div>
        <div class="image-container">
          <img src="/src/images/tatoo_designs.png" alt="Tattoo designs" />
          <h2>Tattoo Designs</h2>
          <p>Suggestions? The internet is your friend! Bring it, we find it, we change it or we can “read your mind”.</p>
        </div>
        <div class="image-container">
          <img src="/src/images/request_your_artist.png" alt="Request your artist" />
          <h2>Request Your artist</h2>
          <p>“If you owe me money, I am available for appointment and book when I am available. If I owe you money, I am dead”</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <div class="left">
          <h1><abbr title="Maybe tattoos are addicted to me">ABOUT SALON</abbr></h1>
          <p>Voted no.1 tattoo studio in Cape Town by our kids, mothers, fathers, significant others, family and friends (whose opinion apparently counts)</p>
          <p>
            Our Staff are locally bred with imported seed, native to the indigenous Khoisan soil blown from the winds of the Cape of Storms, once voted the no.1 most popular place to visit in 1652 by
            Jan van Riebeek (V.O.C) , and they are well-travelled individuals (Home to work and back again mostly).
          </p>
        </div>
        <img src="/src/images/ClintonNaidoo.png" alt="Clinton Naidoo" />
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item"><img src="/src/images/gallery/355821151_808273564247609_8753376740080211220_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/357747053_936296897711725_5175620042658177581_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/357898560_981079789530092_8511795686080962704_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/405807814_870377394878092_5479877949243259484_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/410162287_18297169123181695_1965329375022566746_n.jpg" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/355069786_641973744483695_4250688778728926877_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/354193386_2010178275985816_7174598662134500909_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/354046287_3200046683626639_5112543862739647128_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/334614114_759086782312521_4150676821870082413_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/123594661_367062194634406_2953163752346731088_n.jpg" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/353852317_1317117899211241_4573409756134855604_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/353943503_601619632061742_1851267084366513112_n.jfif" alt="Tattooing" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/angelwings.jfif" alt="" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/Flower.jfif" alt="" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/hands.jfif" alt="" class="hover-image" /></div>
    <div class="grid-item"><img src="/src/images/gallery/abstract.jfif" alt="" class="hover-image" /></div>
  </div>
  <div class="button-container">
    <a href="https://www.instagram.com/primal_cultures/" target="_blank" class="red-button" aria-hidden="false">VIEW MORE</a>
  </div>
  <div id="myModal" class="modal">
    <img class="modal-content" id="modalImage" />
    <div id="modalCaption" class="modal-caption">
      <span class="close" id="closeButton">&times;</span>
    </div>
  </div>

  <div id="modalBackdrop" class="modal-backdrop"></div>
  <div class="container second-bg">
    <div class="column border-right-second">
      <div class="tattoo-container"><img src="/src/images/Tjappies.png" alt="Primal Culture Tjappies" class="sixty" /></div>
    </div>
    <div class="column">
      <div class="column-content">
        <div class="left">
          <h2>Tjappies - Fun Facts About Cape Town</h2>
          <ul>
            <li>Cape Town has the greatest Gatsby which no one has read</li>
            <li>A vegetarian Gatsby is also known as a big chip roll</li>
            <li>Cape Town has the biggest copper mine according to the local scrap yard</li>
            <li>The most employed tooth fairies in the world usually collecting four teeth at a time</li>
            <li>Zee snoek ( sea snoek) named by Dutch colonists who arrived in the Cape in 1652</li>
            <li>The great Sierra/ Skyline debate were settled at ‘Indiana’ and ‘Pavi’ ( Strandfontein Pavilion) on a weekly basis in the late 80’s</li>
            <li>Cape Town has the biggest one-legged pantyhose sales annually</li>
            <li>Smokkie has nothing to do with meat or wood, derived from the word smokkel (smuggle) where one goes to get the adult beverages after hours</li>
            <li>Local shellfish ‘walks’ straight into your freezer without you knowing about it</li>
            <li>Everyone has abalone ashtrays from the ‘70’s’</li>
            <li>Everyone is ‘aware’ (awe) when they greet each other.</li>
            <li>You can actually see where the Atlantic Ocean and Indian Ocean ‘touch cloth’</li>
            <li>Our sharks jump (breach) out of the ocean to greet you.</li>
            <li>You can spend a week in Cape Town one night</li>
            <li>Our weather is like a four season pizza in a day</li>
          </ul>
        </div>
      </div>
    </div>
  </div></MainLayout
>
