---
import MainLayout from "../layouts/Layout.astro";
---

<MainLayout title="Primal Culture Tattoo Studio - Template">
  <div class="container">
    <div class="column">
      <div class="column-content">
        <h1>TEMPLATE</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="column border-right">
      <div class="column-content left">
        <h1>Heading 1</h1>
        <p>Copy goes here - left aligned</p>
      </div>
    </div>
    <div class="column">
      <div class="column-content">
        <h2>Heading 2</h2>
        <p>Stuff and Things - centered</p>
      </div>
      <div class="column-content left">
        <h3>Heading 3</h3>
        <p>Stuff and Things - centered</p>
      </div>
    </div>
  </div>
</MainLayout>
