---
// You can add any necessary imports or props here
const currentPath = Astro.url.pathname;
---
<nav class="menu">
    <ul>
      <li><a href="../">Home</a></li>
      <li><a href="../tattoocare">Tattoo Care</a></li>
      <li><a href="../aboutus">About Us</a></li>
      <li><a href="../community">Community Outreach</a></li>
      <li><a href="../bookings">Bookings</a></li>
      <li><a href="../mechandise">Merchandise &amp; Other</a></li>
      <li><a href="../contact">Contact</a></li>
    </ul>
  </nav>