---
import Navigation from '../components/Navigation.astro';
let { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../ico/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../ico/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../ico/favicon-16x16.png" />
    <!-- <link rel="stylesheet" href="../css/styles.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="/src/images/PrimalCulture_Laurels.png" alt="Experience world-class tattoo artistry at Primal Culture Tattoo Studio" /></a>
      </div>
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <Navigation />
    </header>
    <!-- CONTENT STARTS HERE -->
    <slot />

    <div class="red-line"></div>
    <div class="map-column">
      <div class="map-container">
        <div class="map-box">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.547793009641!2d18.46117018908992!3d-34.02981675821442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc42d1930f29d1%3A0xd74fc4ad673c110d!2sPrimal%20Culture%20Tattoo%20Studio!5e0!3m2!1sen!2sza!4v1729555759500!5m2!1sen!2sza"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="reviews-container">
            <div class="star-rating">★★★★★</div>
            <div class="review-count">4.8 out of 5</div>
            <div class="review-count">Based on 150 reviews</div>
            <a href="https://g.page/r/your-google-review-link" target="_blank" class="google-review-link">Write a Review</a>
          </div>
        </div>
        <div class="map-content">
          <h3>Find Us At:</h3>
          <p>
            Unit 3, Clarewood<br />
            1 Annandale Rd<br />
            Diep River, Cape Town<br />
            7800 <br />
            <a href="tel:+27217071299" class="white-link">+27 21 707 1299</a>
          </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-column">
          <!-- <h3>Column 1</h3> -->
          <p>Terms of use | Privacy Policy</p>
          <code
            ><a href="https://www.samford.co.za" target="_blank" title="Developed and
            maintained by Samford Solutions">
              <img class="samford-img" src="/src/images/SamfordSolutions.png" alt="Developed and
                        maintained by Samford Solutions" />
            </a><br />Developed &amp; maintained by <br />
            Samford Solutions (PTY) Ltd
          </code>
        </div>
        <div class="footer-column">
          <!-- <h3>Column 2</h3> -->
          <!-- <p>Content for the second column goes here.</p> -->
          <a href="https://tattoos.inkfin.co.za/" target="_blank"><img src="/src/images/InkFin.png" alt="InkFin" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
